<h1> Voici nos e-mails : </h1>
<p><ul>
  <li>Marine : marine@marine.com</li>
  <li>Jordy : jordy@jordy.com</li>
  <li>Terence : terence@terence.com</li>
  <li>Léo : leo@leo.com</li>
  <li>Paul : paul@paul.com</li>
  <li>Max = maxime@maxime.com </li>
</ul><p>